/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

div#headerWrapper {
    background-color: $primaryColor;
    overflow: hidden;
header {
    padding: .5rem $gutter;

    div#logo img {
        max-width: 25%;
        float: left;
        clear: both;
        margin: 0 2% 2% 0;
        }

    div#pageTitle {
        padding-top: 20%;
    }

    h1 {
        margin: 0; 
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    } //end of h1

    h2{
        margin: 0; 
        font-size: 0rem; 
        font-weight: $regularWeight;
    }//end of h2

} //end of header
}

div#navWrapper {
    background-color: #111;
    display: block;
    clear: both;
    column-count: 2;
    column-gap: 0;
}

nav {
    ul{margin:0; padding: 0;}
    li {list-style-type: none;}
    li.active {background-color: #333}
    a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
    column-count: 1;
}
    a:hover {background-color: #444;}
    
} //end of nav

div#mainWrapper {
    background-color: #444;
}
main{display: block; //padding: 1rem $gutter;
    h1 {color: $primaryColor;
        font-weight: $heavyWeight;
        padding: $gutter;
        margin: 0; 
    }
    background-color: white;
    figure img {width: 100%;}
    figure{
    margin: 0;
    width: 100%;}
    figure#hero{width: 100%;
        margin: 0;
        padding: 0;
        float: right;
        clear: both;
    }
    figcaption {text-align: center; font-size: .8rem;}

    div.news p{
        padding: .5rem 0 1rem 1rem;
        margin: 0;
        // clear: both;
        column-count: 1;
        column-rule: 1px solid #ddd;
    }
} //end main


div#footerWrapper{
    background-color: $primaryColor;
}

footer {

    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}